@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,400;1,600;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29%;
  height: 100%;
  position: fixed;
  padding: 10px 0 10px 13%;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 25px;
}
.navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
  justify-content: space-between;
}
nav .icon {
  margin-top: 15px;
}
nav a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: fit-content;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  padding: 8px 25px 8px 8px;
}
nav a i {
  margin-right: 15px;
}
.material-icons-outlined {
  font-family: "Material Icons Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* -webkit-font-feature-settings: "liga"; */
  -webkit-font-smoothing: antialiased;
}
nav a:hover {
  background-color: #4f4d4d;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
nav .icon:hover {
  background-color: black;
}
.tweet-btn {
  color: white;
  background-color: rgb(0, 138, 193);
  padding: 15px;
  width: 200px;
  border: transparent;
  border-radius: 999px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  letter-spacing: 2.5px;
  margin-top: 20px;
  text-align: center;
}
.tweet-btn:hover {
  background-color: rgb(8, 123, 168);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.main-acc {
  width: 100%;
  height: 30%;
  padding-top: 150px;
}
.main-acc a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 8px 10px 8px 15px;
  margin-right: 10px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.main-acc a:hover {
  background-color: rgb(80, 78, 78, 0.4);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
.per-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 20px;
}
.main-acc a .details {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}
.name {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.7rem;
  letter-spacing: 0.3px;
}
.user-handle {
  opacity: 0.5;
}
